fakecars.txt
install.txt
mainDB.txt
.idea
*.bkp
.claude
backups/*.sql
database/serverconfigured.sql
client_packages/game_resources/dlcpacks/*
client_packages/interface
client_packages/main.js
!client_packages/game_resources/dlcpacks/dlcpacks.txt
.listcache
node_modules
bin
server_exceptions.txt
server_logs.txt
coords.txt
.vscode
settings/mainDB.json
client_packages/interface/build/bundle.js.map
client_packages/interface/build/bundle.js
client_packages/interface/build/bundle.css.map
client_packages/interface/build/bundle.css
client_packages/interface/index.html
ragemp-server.exe
dlcpacks/*
client_packages/DISABLE_ENCRYPTION_LIST
/bin/bt.dat
/bin/enc.dat
/bin/loader.mjs
BugTrap-x64.dll

dotnet/runtime
dotnet/vehicleData.json